# Java
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# local projects not versioned
/echo-app
/sidecar
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.swp
*.swo
